{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Fiesta Events</title>

    <!-- index -->
    <link rel="stylesheet" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- endindex -->

    <!-- customer -->
    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}">
    <!-- end customer -->


    <!-- add customer -->
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <!-- end add customer -->


    <!-- estimate -->
    <!-- end etimate -->


    <!-- invoicelist -->
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
    <!-- invoice list -->

    <!-- invoice grid -->
    <!-- end invoice grid -->

    <!-- editinvoice -->
    <!-- end editinvoice -->


    <!-- invoice settings -->
    <!-- end invoice settings -->






</head>

<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">

    <div class="main-wrapper">

        <div class="header header-one">

            <div class="header-left header-left-one">
                <a href="/admin/index" class="logo">
                    <img src="{% static 'img/logo/img2.jpeg' %}" alt="Logo">
                </a>
                <a href="/admin/index" class="white-logo">
                    <img src="{% static 'img/logo/img2.jpeg' %}" alt="Logo">
                </a>
                <a href="/admin/index" class="logo logo-small">
                    <img src="{% static 'img/logo/img1.jpeg' %}" alt="Logo" width="30" height="30">
                </a>
            </div>


            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars"></i>
            </a>


            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>



        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul id="toggle">
                        <li class="menu-title"><span>Main</span></li>
                        <li class="sub">
                            <a href="/admin/index"><i class="fa fa-home"
                                    data-bs-toggle="tooltip"></i><span>Dashboard</span></a>
                        </li>
                        <li class="">
                            <a href="/admin/customer"><i class="fa fa-users" data-bs-toggle="tooltip"></i>
                                <span>Customers</span></a>
                        </li>
                        <li class="">
                            <a href="/admin/marketingstaff"><i class="fa fa-user" data-bs-toggle="tooltip"
                                    title="fa fa-user"></i> <span>Marketing Staff</span></a>
                        </li>
                        <li class="font-regular">
                            <a href="/admin/estimate"><i class="fa fa-file" data-bs-toggle="tooltip"
                                    title="fa fa-file-text"></i><span>Estimates</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-clipboard" data-bs-toggle="tooltip"
                                    title="fa fa-clipboard"></i><span>Invoices</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/admin/invoiceList">Invoices List</a></li>
                                <li><a href="/admin/invoicegrid">Invoices Grid</a></li>
                                <li><a href="/admin/addinvoice">Add Invoices</a></li>
                                <li><a href="/admin/editinvoice">Edit Invoices</a></li>
                                <li><a href="/admin/invoicedetails">Invoices Details</a></li>
                                <!-- <li><a href="/admin/invoicesettings">Invoices Settings</a></li> -->
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/products"><i class="fa fa-coffee" data-bs-toggle="tooltip"
                                    title="fa fa-coffee"></i> <span>Products</span></a>

                        </li>
                        <li>
                            <a href="/admin/payment"><i class="fa fa-credit-card"></i> <span>Payments</span></a>
                        </li>
                        <li>
                            <a href="/admin/expenses"><i class="fa fa-chevron-down"></i> <span>Expenses</span></a>
                        </li>
                        <li>
                            <a href="/admin/profit"><i class="fa fa-chevron-up"></i> <span>Profit</span></a>
                        </li>
                        <!-- <li class="submenu">
                            <a href="#"><i data-feather="pie-chart"></i> <span> Reports</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="sales-report.html">Sales Report</a></li>
                                <li><a href="expenses-report.html">Expenses Report</a></li>
                                <li><a href="profit-loss-report.html">Profit & Loss Report</a></li>
                                <li><a href="taxs-report.html">Taxs Report</a></li>
                            </ul>
                        </li> -->
                        <!-- <li>
                            <a href="settings.html"><i data-feather="settings"></i> <span>Settings</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="grid"></i> <span> Application</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="chat.html">Chat</a></li>
                                <li><a href="calendar.html">Calendar</a></li>
                                <li><a href="inbox.html">Email</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">
                            <span>Pages</span>
                        </li>
                        <li>
                            <a href="profile.html"><i data-feather="user-plus"></i> <span>Profile</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="lock"></i> <span> Authentication </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="login.html"> Login </a></li>
                                <li><a href="register.html"> Register </a></li>
                                <li><a href="forgot-password.html"> Forgot Password </a></li>
                                <li><a href="lock-screen.html"> Lock Screen </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="alert-octagon"></i> <span> Error Pages </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="error-404.html">404 Error </a></li>
                                <li><a href="error-500.html">500 Error </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="users.html"><i data-feather="user"></i> <span>Users</span></a>
                        </li>
                        <li>
                            <a href="blank-page.html"><i data-feather="file"></i> <span>Blank Page</span></a>
                        </li>
                        <li>
                            <a href="maps-vector.html"><i data-feather="map-pin"></i> <span>Vector Maps</span></a>
                        </li>
                        <li class="menu-title">
                            <span>UI Interface</span>
                        </li>
                        <li>
                            <a href="components.html"><i data-feather="layers"></i> <span>Components</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="box"></i> <span>Elements </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="sweetalerts.html">Sweet Alerts</a></li>
                                <li><a href="tooltip.html">Tooltip</a></li>
                                <li><a href="popover.html">Popover</a></li>
                                <li><a href="ribbon.html">Ribbon</a></li>
                                <li><a href="clipboard.html">Clipboard</a></li>
                                <li><a href="drag-drop.html">Drag & Drop</a></li>
                                <li><a href="rangeslider.html">Range Slider</a></li>
                                <li><a href="rating.html">Rating</a></li>
                                <li><a href="toastr.html">Toastr</a></li>
                                <li><a href="text-editor.html">Text Editor</a></li>
                                <li><a href="counter.html">Counter</a></li>
                                <li><a href="scrollbar.html">Scrollbar</a></li>
                                <li><a href="spinner.html">Spinner</a></li>
                                <li><a href="notification.html">Notification</a></li>
                                <li><a href="lightbox.html">Lightbox</a></li>
                                <li><a href="stickynote.html">Sticky Note</a></li>
                                <li><a href="timeline.html">Timeline</a></li>
                                <li><a href="horizontal-timeline.html">Horizontal Timeline</a></li>
                                <li><a href="form-wizard.html">Form Wizard</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="bar-chart-2"></i> <span> Charts </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="chart-apex.html">Apex Charts</a></li>
                                <li><a href="chart-js.html">Chart Js</a></li>
                                <li><a href="chart-morris.html">Morris Charts</a></li>
                                <li><a href="chart-flot.html">Flot Charts</a></li>
                                <li><a href="chart-peity.html">Peity Charts</a></li>
                                <li><a href="chart-c3.html">C3 Charts</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="award"></i> <span> Icons </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="icon-fontawesome.html">Fontawesome Icons</a></li>
                                <li><a href="icon-feather.html">Feather Icons</a></li>
                                <li><a href="icon-ionic.html">Ionic Icons</a></li>
                                <li><a href="icon-material.html">Material Icons</a></li>
                                <li><a href="icon-pe7.html">Pe7 Icons</a></li>
                                <li><a href="icon-simpleline.html">Simpleline Icons</a></li>
                                <li><a href="icon-themify.html">Themify Icons</a></li>
                                <li><a href="icon-weather.html">Weather Icons</a></li>
                                <li><a href="icon-typicon.html">Typicon Icons</a></li>
                                <li><a href="icon-flag.html">Flag Icons</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="columns"></i> <span> Forms </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="form-basic-inputs.html">Basic Inputs </a></li>
                                <li><a href="form-input-groups.html">Input Groups </a></li>
                                <li><a href="form-horizontal.html">Horizontal Form </a></li>
                                <li><a href="form-vertical.html"> Vertical Form </a></li>
                                <li><a href="form-mask.html">Form Mask </a></li>
                                <li><a href="form-validation.html">Form Validation </a></li>
                                <li><a href="form-select2.html">Form Select2 </a></li>
                                <li><a href="form-fileupload.html">File Upload </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="layout"></i> <span> Tables </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="tables-basic.html">Basic Tables </a></li>
                                <li><a href="data-tables.html">Data Table </a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>




        {% block content %}
        {% endblock %}

    </div>


    <!-- index -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'plugins/apexchart/chart-data.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <!-- end index -->


    <!-- customer -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
    <!-- end customer -->



    <!-- add customer -->
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <!-- end add customer -->


    <!-- estimate -->
    <!-- end estimate -->

    <!-- invoice list -->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <!-- end invoice list -->



    <!-- invoice grid -->
    <!-- end invoice grid -->

    <!-- edit invoice -->
    <!-- end edit invoice -->

    <!-- invoice settings -->
    <!-- end invoice settings -->




    <script>



if($('.datetimepicker').length > 0 ){
		$('.datetimepicker').datetimepicker({
			format: 'DD-MM-YYYY',
			icons: {
				up: "fas fa-angle-up",
				down: "fas fa-angle-down",
				next: 'fas fa-angle-right',
				previous: 'fas fa-angle-left'
			}
		});
	}


        // $(document).ready(function () {
        //     console.log('hi')
        //     $('#toggle li').on('click', function () {
        //         $(this).removeClass('font-regular').addClass('active');
        //     });
        // });


        // $(function () {
        //     $('#toggle li').click(function () {
        //         $('#toggle li.active').removeClass('active');
        //         $(this).addClass('active');
        //     });
        // });

        $(document).ready(function () {
            $('#toggle li').on('click', function () {
                // alert('clicked');
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
            });
        });

        // $(function () {
        //     $("li").click(function () {
        //         // remove classes from all
        //         $("li").removeClass("active");
        //         // add class to the one we clicked
        //         $(this).addClass("active");
        //     });
        // });

        // $('li').click(function (e) {
        //     e.preventDefault();
        //     $(this).addClass('active');
        //     $(this).siblings().each(function () {
        //         $(this).removeClass('active');

        //     });
        // });


        //    toggle
        $(document).on('click', '#toggle_btn', function () {
            if ($('body').hasClass('mini-sidebar')) {
                $('body').removeClass('mini-sidebar');
                $('.subdrop + ul').slideDown();
            } else {
                $('body').addClass('mini-sidebar');
                $('.subdrop + ul').slideUp();
            }
            setTimeout(function () {
                mA.redraw();
                mL.redraw();
            }, 300);
            return false;
        });
        // end toggle

        // filters
        $(document).on('click', '#filter_search', function () {
            $('#filter_inputs').slideToggle("slow");
        });

        // endfilter



        // datatable
        if ($('.datatable').length > 0) {
            $('.datatable').DataTable({
                language: {
                    search: '<i class="fas fa-search"></i>',
                    searchPlaceholder: "Search"
                }
            });
        }
        // end datatable




        //    add + in add invoice
        $(document).on("click", ".add-btn", function () {
            var experiencecontent = '<tr class="add-row">' +
                '<td>' +
                '<input type="text" class="form-control">' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control">' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control">' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control">' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control">' +
                '</td>' +
                '<td>' +
                '<input type="text" class="form-control">' +
                '</td>' +
                '<td class="add-remove text-end">' +
                '<a href="javascript:void(0);" class="add-btn me-2"><i class="fas fa-plus-circle"></i></a> ' +
                '<a href="#" class="copy-btn me-2"><i class="fas fa-copy"></i></a>' +
                '<a href="javascript:void(0);" class="remove-btn"><i class="fas fa-trash"></i></a>' +
                '</td>' +
                '</tr>';

            $(".add-table-items").append(experiencecontent);
            return false;
        });
        // end  + in add invoice




        // selectbox
        $('.app-listing .selectBox').on("click", function () {
            $(this).parent().find('#checkBoxes').fadeToggle();
            $(this).parent().parent().siblings().find('#checkBoxes').fadeOut();
        });

        $('.invoices-main-form .selectBox').on("click", function () {
            $(this).parent().find('#checkBoxes-one').fadeToggle();
            $(this).parent().parent().siblings().find('#checkBoxes-one').fadeOut();
        });
        // end selectbox
    </script>
</body>

</html>